/******************common css start********************/
.container{
	width: 100%;
}
.widthbox{
	box-sizing: border-box;
}
.b{
	border: 1px solid #000000;
}
.c{
	clear: both;
}
.no-border{
	border-bottom: none;
}
.flex-box{
	display: -webkit-box;
	display: box;
	-webkit-box-align: center;
	box-align: center;
	-webkit-box-pack: center;
	box-pack: center;
}
.flexible{
	-webkit-flex: 1;
	flex: 1;
}
.popup-window{
	width: 100%;
	box-sizing: border-box;
}
/******************common css end********************/

/******************emptyChange css start********************/
.popup-window{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}
.dealer-adress{
	width: 6.08rem;
	height: 9.71rem;
	background: url(../images/popupwidbg.png) center center no-repeat;
	background-size: cover;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.dealer-adress .dealer-top{
	width: 100%;
	height: 1.06rem;
	line-height: 0.8rem;
	text-align: center;
}
.dealer-adress .dealer-top img{
	width: 4.46rem;
}
.dealer-adress .adress-items{
	-webkit-box-pack: justify;
	border-bottom: 1px solid #b7d5f6;
	padding-top: 0.22rem;
	padding-bottom: 0.18rem;
}
.adress-items-box{
	height: 7rem;
	overflow-y: auto;
	padding: 0 0.32rem;
	box-sizing: border-box;
}
.dealer-adress .adress-contact{
	width: 85%;
}
.dealer-adress .adress-contact .adress-p{
	font-size: 0.28rem;
	color: #3d78dc;
}
.dealer-adress .adress-contact .adress-p a{
	font-size: 0.28rem;
	color: #3d78dc;
}
.dealer-adress .adress-contact .adress-p:first-child{
	margin-bottom: 0.14rem;
}
.dealer-adress .tel-contact img{
	width: 0.72rem;
}
.dealer-adress .return_btn{
	position: absolute;
	bottom: 0.3rem;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}
.dealer-adress .return_btn img{
	width: 2.22rem;
}
/******************prizeCenter css start********************/
.prizebg{
	width: 100%;
	height: 100%;
	background: url(../images/prizebg.jpg) center center no-repeat;
	background-size: cover;	
	padding-top: 3rem;
	padding-left: 0.42rem;
	padding-right: 0.42rem;
	box-sizing: border-box;
}
.toparea{
	width: 1.55rem;
	position: absolute;
	top: 0.48rem;
	left: 0;
	right: 0;
	margin: auto;
}
.toparea .topimg{
	width: 1.55rem;
	height: 1.55rem;
	border-radius: 100%;
	overflow: hidden;
	border: 3px solid #8ac0ed;
	position: relative;
}
.topimg img{
	width: 1.55rem;
	height: 1.55rem;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -0.775rem;
	margin-left: -0.775rem;
}
.toparea .own-name{
	font-size: 0.3rem;
	color: #3d78dc;
	text-align: center;
	margin-top: 0.16rem;
}
.convert-card{
	border-top: 1px solid #b1d2f6;
	width: 100%;
	height: 5.5rem;
	overflow-y: auto;
}
.convert-cond,.convert-vert{
	width: 100%;
	height: 1.42rem;
	padding-left: 0.47rem;
	padding-right: 0.47rem;
	box-sizing: border-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: start;
	margin-top: 0.22rem;
}
.cond1{
	background: url(../images/cond1bg.png) center center no-repeat;
	background-size: cover;
}
.cond2{
	background: url(../images/cond2bg.png) center center no-repeat;
	background-size: cover;
}
.prize-kind{
	font-size: 0.3rem;
	color: #ffffff;
	font-weight: normal;
	margin-bottom: 0.1rem;
}
.cond1 .end-time{
	font-size: 0.24rem;
	color: #b3caf1;
	font-weight: normal;
}
.cond2 .end-time{
	font-size: 0.24rem;
	color: #f7e5cf;
	font-weight: normal;
}
.convert-vert{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;
	-webkit-box-pack:justify;
}
.cond1 .vert-imme{
	width: 0.86rem;
	height: 0.86rem;
	border-left: 1px solid #99bff0;
}
.cond2 .vert-imme{
	width: 0.86rem;
	height: 0.86rem;
	border-left: 1px solid #f6cfae;
}
.vert-imme p{
	width: 100%;
	font-size: 0.3rem;
	color: #fff;
	text-align: center;
}
.vert-imme{
	-webkit-box-orient: vertical;
}
.bottom-btn{
	width: 100%;
	margin-top: 0.3rem;
}
.bottom-btn .getprize_siz{
	width: 2.52rem;
	display: block;
	margin: auto;
}


.flexbox {
  display: -moz-box;
  /* Firefox */
  display: -webkit-box;
  /* Safari and Chrome */
  display: -ms-flexbox;
  /* Internet Explorer 10 */
  display: box;
  -webkit-box-align: center;
}
.flexright {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  /* Firefox */
  box-flex: 1;
  flex: 1;
}
.fBox {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
/*垂直居中*/
.alignCenterBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/*分居左右，垂直居中*/
.justifyBetweenBox {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
}
/*二维码开始*/
.erweima{
	width: 100%;
	height: 100%;
	background: url(../images/erweimaBg.jpg) no-repeat;
	background-size: 100% 100%;
}
.erweimaPic{
	width: 4.11rem;
	height: 4.11rem;
	padding: 0.1rem;
	background: rgba(255,255,255,0.2);
	-webkit-border-radius: 0.1rem;
	position: absolute;
	top: 2.7rem;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.erweimaPic img{
	width: 4.11rem;
	height: 4.11rem;
	display: block;
}
/*二维码结束*/


/*活动规则开始*/
.container2{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}
.activeRule{
	width: 100%;
	height: 100%;
}
.activeRule img{
	width: 100%;
	min-height: 100%;
	display: block;
}
/*活动规则结束*/

/*领奖信息提交开始*/
.infoSubmit{
	width: 74%;
	-webkit-border-radius: 0.2rem;
	background: #fff;
}
.infoSubmit h1{
	font-size: 0.34rem;
	color: #3d78dc;
	text-align: center;
	line-height: .95rem;
}
.infoSubmitNav{
	width: 3.9rem;
	margin: 0 auto;
}
.infoSubmitNav input{
	width: 3.5rem;
	padding: 0.22rem 0.2rem;
	font-size: 0.3rem;
	line-height: 0.4rem;
	color: #8c969e;
	-webkit-border-radius: 0.2rem;
	background: #dae9f5;
	display: block;
	margin-bottom: 0.2rem;
}
.infoSubmitNav input:-webkit-input-placeholder{
	color: #8c969e;
}
.infoSubmitNav select{
	width: 100%;
	font-size: 0.3rem;
	padding: 0.22rem 0.2rem;
	color: #3d78dc;
	-webkit-border-radius: 0.2rem;
	background: #dae9f5;
	-webkit-appearance: none;
	display: block;
	background-color: #dae9f5;
	background-image: url(../images/arrowDown.png);
	background-repeat: no-repeat;
	background-position: 86.4% center;
	background-size: 0.24rem 0.21rem;
}
.submit{
	width: 100%;
	font-size: 0.36rem;
	color: #fff;
	line-height: 0.9rem;
	background: #4790cc;
	text-align: center;
	margin-top: 0.35rem;
	-webkit-border-bottom-left-radius: 0.2rem;
	-webkit-border-bottom-right-radius: 0.2rem;
}
/*领奖信息提交结束*/

/*中奖弹窗开始*/
.winPrizeTop{
	
}
.winPrizeTop img{
	width: 4.01rem;
	height: 2.54rem;
	display: block;
	padding-top: 0.15rem;
	margin: 0 auto;
}
.winPrizeMid h1{
	font-size: 0.36rem;
	line-height: 0.74rem;
	color: #4790cc;
	text-align: center;
}
.winPrizeMid p{
	font-size: 0.28rem;
	color: #4790cc;
	text-align: center;
	padding-bottom: 0.35rem;
}
/*中奖弹窗结束*/

/*核销弹窗开始*/
.checkDelet{
	position: relative;
}
.checkDeletTop{
	width: 100%;
}
.checkDeletTop p{
	font-size: 0.3rem;
	color: #4790cc;
	text-align: center;
	margin-top: 0.7rem;
}
.checkDeletMid{
	width: 3.9rem;
	margin: 0 auto;
	padding-bottom: 0.35rem;
}
.checkDeletMid input{
	width: 3.2rem;
	padding: 0.22rem 0.2rem 0.22rem 0.5rem;
	font-size: 0.3rem;
	line-height:0.4rem;
	color: #808e9b;
	background: #c7ddf0;
	-webkit-border-radius: 0.2rem;
}
.close{
	position: absolute;
	top: 0.16rem;
	right: 0.17rem;
}
.close img{
	width: 0.32rem;
	height: 0.32rem;
	display: block;
}
/*核销弹窗结束*/


