/*==========less 公式==========*/
/*==========less 公式==========*/
/*==========检票 开始==========*/
.checkTic {
  background-color: #efefef;
  padding: 0.390625rem 4% 1.5625rem 4%;
}
.onedayTic {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 0.46875rem;
  border-top-left-radius: 0.3125rem;
  border-top-right-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  box-shadow: 0rem 0.078125rem 0.046875rem #dddcdc;
}
.twodayTic .tic-time {
  background: url(../img/tictimepic2.png) center center no-repeat;
  background-size: cover;
}
.twodayTic .tic-time-item1 {
  color: #fff;
  text-shadow: none;
}
.tic-time {
  width: 100%;
  height: 3.25rem;
  padding: 0.25rem 0.546875rem 0.46875rem 0.546875rem;
  border-top-left-radius: 0.3125rem;
  border-top-right-radius: 0.3125rem;
  box-sizing: border-box;
  background: url(../img/tictimepic1.png) center center no-repeat;
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
}
.paymentTic-part1 {
  width: 100%;
}
.tic-time-item1 {
  font-size: 11px;
  color: #397904;
  text-align: center;
}
[data-dpr="2"] .tic-time-item1 {
  font-size: 22px;
}
[data-dpr="3"] .tic-time-item1 {
  font-size: 33px;
}
.tic-time-item2 {
  font-size: 36px;
  text-align: center;
  color: #ffffff;
}
[data-dpr="2"] .tic-time-item2 {
  font-size: 72px;
}
[data-dpr="3"] .tic-time-item2 {
  font-size: 108px;
}
.tic-time-item3 {
  font-size: 11px;
  color: #ffffff;
  text-align: center;
}
[data-dpr="2"] .tic-time-item3 {
  font-size: 22px;
}
[data-dpr="3"] .tic-time-item3 {
  font-size: 33px;
}
.startPlace,
.endPlace {
  font-size: 13px;
  color: #000;
  position: relative;
  padding-left: 0.390625rem;
  width: 1.71875rem;
  box-sizing: border-box;
  word-break: break-all;
}
.startPlace {
  background: url(../img/startbg.png) left center no-repeat;
  background-size: 0.25rem 0.25rem;
}
.endPlace {
  background: url(../img/endbg.png) left center no-repeat;
  background-size: 0.25rem 0.25rem;
}
[data-dpr="2"] .startPlace {
  font-size: 26px;
}
[data-dpr="3"] .startPlace {
  font-size: 39px;
}
[data-dpr="2"] .endPlace {
  font-size: 26px;
}
[data-dpr="3"] .endPlace {
  font-size: 39px;
}
.tic-place-left,
.tic-place-right {
  float: left;
  width: 60%;
  box-sizing: border-box;
}
.tic-place-left {
  padding: 0 0.3125rem;
  box-sizing: border-box;
}
.tic-place-right {
  width: 40%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.15625rem;
}
.tic-place-right img {
  width: 100%;
}
.tic-place {
  overflow: hidden;
  padding: 0 0.15625rem;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
  border-bottom-left-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  min-height: 1.5625rem;
}
.line_place {
  width: 0.390625rem;
  height: 0.28125rem;
  display: block;
  margin: 0 0.390625rem;
}
.start-end {
  padding: 0.3125rem 0;
  box-sizing: border-box;
  border-bottom: 1px solid #eeeeee;
}
.start-end-time {
  width: 100%;
}
.start-time,
.end-time {
  color: #959595;
  font-size: 12px;
  float: left;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  height: 0.65625rem;
  line-height: 0.65625rem;
}
[data-dpr="2"] .start-time {
  font-size: 24px;
}
[data-dpr="3"] .start-time {
  font-size: 36px;
}
[data-dpr="2"] .end-time {
  font-size: 24px;
}
[data-dpr="3"] .end-time {
  font-size: 36px;
}
.queryInTime {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 1.5625rem;
  background-color: #7bc70d;
  color: #fff;
  text-align: center;
  line-height: 1.5625rem;
  font-size: 15px;
}
[data-dpr="2"] .queryInTime {
  font-size: 30px;
}
[data-dpr="3"] .queryInTime {
  font-size: 45px;
}
/*==========检票 结束==========*/
/*==========支付页面 开始==========*/
.paybg {
  background-color: #efefef;
}
.paymentTic {
  background-color: #fff;
  padding: 0 8%;
  box-sizing: border-box;
  padding-top: 0.859375rem;
  padding-bottom: 1.5625rem;
  -webkit-box-orient: vertical;
}
.payPart1Box {
  padding: 0.3125rem 0;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 0.3125rem;
}
.bus {
  width: 0.703125rem;
  height: 0.640625rem;
  display: block;
  margin-right: 0.21875rem;
}
.payPart1Box {
  font-size: 17px;
  color: #000;
}
[data-dpr="2"] .payPart1Box {
  font-size: 34px;
}
[data-dpr="3"] .payPart1Box {
  font-size: 51px;
}
.busStation {
  font-size: 12px;
  color: #959595;
  margin-bottom: 0.71875rem;
  text-align: center;
  line-height:1.5em;
}
[data-dpr="2"] .busStation {
  font-size: 24px;
}
[data-dpr="3"] .busStation {
  font-size: 36px;
}
.station {
  margin-right: 0.28125rem;
}
.busStation .start-time-stat {
  margin-right: 0.3125rem;
}
.tic-style {
  width: 5.3125rem;
  height: 1.28125rem;
  text-align: center;
  line-height: 1.28125rem;
  background-color: #f46610;
  border-radius: 0.46875rem;
  font-size: 15px;
  color: #fff;
  margin-bottom: 0.71875rem;
}
[data-dpr="2"] .tic-style {
  font-size: 30px;
}
[data-dpr="3"] .tic-style {
  font-size: 45px;
}
.paymentTic-part2 {
  font-size: 15px;
  color: #959595;
  font-weight: normal;
  margin-bottom: 0.390625rem;
}
[data-dpr="2"] .paymentTic-part2 {
  font-size: 30px;
}
[data-dpr="3"] .paymentTic-part2 {
  font-size: 45px;
}
.paymentStyle {
  -webkit-box-orient: vertical;
  padding-top: 1.40625rem;
}
.weixing,
.zhifubao {
  width: 7.578125rem;
  height: 1.40625rem;
  border-radius: 0.546875rem;
  background-color: #7bc70d;
}
.zhifubao {
  background-color: #0294e7;
  margin-top: 0.390625rem;
}
[data-dpr="2"] .weixingBox {
  font-size: 30px;
}
[data-dpr="3"] .weixingBox {
  font-size: 45px;
}
[data-dpr="2"] .zhifubaoBox {
  font-size: 30px;
}
[data-dpr="3"] .zhifubaoBox {
  font-size: 45px;
}
.weixingBox,
.zhifubaoBox {
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: #fff;
}
.weixingbg {
  width: 0.6875rem;
  height: 0.5625rem;
  display: block;
  margin-right: 0.234375rem;
}
.zhifubaobg {
  width: 0.640625rem;
  height: 0.640625rem;
  display: block;
  margin-right: 0.3125rem;
}
/*==========支付页面 结束==========*/
/*==========路线实时 开始==========*/
.part_route {
  -webkit-box-pack: start;
  padding-left: 4%;
  padding-right: 4%;
}
.distance-car_route {
  padding: 0.390625rem 5%;
}
.routeBox {
  padding-left: 5%;
  padding-right: 4%;
}
.starpic {
  width: 0.375rem;
  height: 1.140625rem;
  display: block;
  margin-right: 0.46875rem;
}
.route-station-start,
.route-station-end {
  -webkit-box-pack: start;
  padding-left: 1.5rem;
  box-sizing: border-box;
  height: 1.140625rem;
  background: url(../img/starpic.jpg) 0.71875rem center no-repeat;
  background-size: 0.375rem 1.140625rem;
  font-size: 14px;
}
[data-dpr="2"] .route-station-start {
  font-size: 28px;
}
[data-dpr="3"] .route-station-start {
  font-size: 42px;
}
.route-station-end {
  background: url(../img/endpic.jpg) 0.71875rem center no-repeat;
  background-size: 0.375rem 1.140625rem;
  font-size: 14px;
}
[data-dpr="2"] .route-station-end {
  font-size: 28px;
}
[data-dpr="3"] .route-station-end {
  font-size: 42px;
}
.route-station-common {
  -webkit-box-pack: start;
  padding-left: 1.5rem;
  box-sizing: border-box;
  height: 1.125rem;
  background: url(../img/commonpic.jpg) 0.71875rem center no-repeat;
  background-size: 0.375rem 1.125rem;
}
[data-dpr="2"] .route-station-common {
  font-size: 28px;
}
[data-dpr="3"] .route-station-common {
  font-size: 42px;
}
.route-station-special {
  -webkit-box-pack: justify;
  padding-left: 1.5rem;
  box-sizing: border-box;
  height: 1.75rem;
  background: url(../img/specialpic.jpg) 0.71875rem center no-repeat;
  background-size: 0.375rem 1.75rem;
}
[data-dpr="2"] .route-station-special {
  font-size: 28px;
}
[data-dpr="3"] .route-station-special {
  font-size: 42px;
}
.route-station-lately {
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -webkit-box-align: start;
  padding-left: 1.5rem;
  box-sizing: border-box;
  height: 2.109375rem;
  background: url(../img/latelypic.jpg) 0.71875rem center no-repeat;
  background-size: 0.375rem 2.109375rem;
  font-size: 14px;
}
[data-dpr="2"] .route-station-lately {
  font-size: 28px;
}
[data-dpr="3"] .route-station-lately {
  font-size: 42px;
}
.station-lately-box {
  width: 100%;
  box-sizing: border-box;
}
.station-lately {
  width: 100%;
  -webkit-box-pack: start;
  padding-top: 0.40625rem;
  margin-bottom: 0.546875rem;
  color: #7bc70d;
}
.lately-subway {
  -webkit-box-pack: justify;
  padding-top: 0.234375rem;
  margin-bottom: 0.46875rem;
}
.subway {
  width: 2.1875rem;
  height: 0.6875rem;
  line-height: 0.6875rem;
  text-align: center;
  border-radius: 0.3125rem;
  border: 1px solid #f46610;
  color: #f46610;
}
[data-dpr="2"] .subway {
  font-size: 22px;
}
[data-dpr="3"] .subway {
  font-size: 33px;
}
.recentlyBus {
  font-size: 11px;
  color: #f46610;
}
[data-dpr="2"] .recentlyBus {
  font-size: 22px;
}
[data-dpr="3"] .recentlyBus {
  font-size: 33px;
}
.first-recently,
.sec-recently {
  background: url(../img/recbus.png) left center no-repeat;
  background-size: 0.453125rem 0.3125rem;
  padding-left: 0.625rem;
}
.first-recently {
  margin-right: 0.625rem;
}
.route-station {
  padding: 0.3125rem 4% 0.3125rem 4%;
  border-bottom: 1px solid #eee;
  position: relative;
}
.route-station-part1 {
  -webkit-box-pack: start;
  margin-bottom: 0.15625rem;
}
.station-part1-start,
.station-part1-end {
  font-size: 13px;
  color: #000000;
  max-width: 3.125rem;
  text-align: center;
}
[data-dpr="2"] .station-part1-start {
  font-size: 26px;
}
[data-dpr="3"] .station-part1-start {
  font-size: 39px;
}
[data-dpr="2"] .station-part1-end {
  font-size: 26px;
}
[data-dpr="3"] .station-part1-end {
  font-size: 39px;
}
.contact_line {
  width: 0.625rem;
  height: 0.140625rem;
  display: block;
  margin-left: 0.359375rem;
  margin-right: 0.359375rem;
}
.setEndTime {
  font-size: 12px;
  color: #959595;
}
[data-dpr="2"] .setEndTime {
  font-size: 24px;
}
[data-dpr="3"] .setEndTime {
  font-size: 36px;
}
.route-set-time {
  margin-right: 1.171875rem;
}
.exchange-btn3 img {
  width: 0.96875rem;
  height: 0.96875rem;
  display: block;
  position: absolute;
  right: 4%;
  top: 50%;
  margin-top: -0.484375rem;
}
/*==========路线实时 结束==========*/
/*==========旅游巴士 开始==========*/
.tourbusbg {
  background-color: #efefef;
  padding-bottom: 1.5625rem;
}
.toursbus-toparea {
  width: 100%;
  padding: 0.40625rem 4%;
  background-color: #fff;
  font-size: 15px;
  color: #000000;
  -webkit-box-pack: justify;
  box-sizing: border-box;
}
[data-dpr="2"] .toursbus-toparea {
  font-size: 30px;
}
[data-dpr="3"] .toursbus-toparea {
  font-size: 45px;
}
.check-route {
  font-size: 12px;
  color: #959595;
  text-decoration: underline;
}
[data-dpr="2"] .check-route {
  font-size: 24px;
}
[data-dpr="3"] .check-route {
  font-size: 36px;
}
.check-route-pic1 {
  width: 0.703125rem;
  height: 0.640625rem;
  display: block;
  margin-right: 0.15625rem;
}
.check-route-pic2 {
  width: 0.25rem;
  height: 0.28125rem;
  display: block;
  margin-left: 0.15625rem;
}
.arrive-station {
  background-color: #fff;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  overflow: hidden;
}
.scen-station {
  padding: 0.46875rem 2.1875rem 0.46875rem 0;
  -webkit-box-pack: start;
  position: relative;
  border-bottom: 1px solid #dcdcdc;
}
.scen_station {
  width: 0.796875rem;
  height: 0.796875rem;
  display: block;
  margin: 0 0.3215rem;
}
.scen-station-start,
.scen-station-end {
  padding-left: 0.625rem;
  font-size: 13px;
  color: #000;
}
.scen-station-start {
  background: url(../img/startbg.png) left center no-repeat;
  background-size: 0.25rem 0.25rem;
  width: 2.1875rem;
  text-align: center;
}
.scen-station-end {
  background: url(../img/endbg.png) left center no-repeat;
  background-size: 0.25rem 0.25rem;
  width: 2.1875rem;
  text-align: center;
}
[data-dpr="2"] .scen-station-start,
[data-dpr="2"] .scen-station-end {
  font-size: 26px;
}
[data-dpr="3"] .scen-station-start,
[data-dpr="3"] .scen-station-end {
  font-size: 39px;
}
.needtoknow {
  width: 2.1875rem;
  height: 0.9375rem;
  line-height: 0.9375rem;
  text-align: center;
  border-top-left-radius: 0.46875rem;
  border-bottom-left-radius: 0.46875rem;
  background-color: #f46610;
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -0.46875rem;
  right: -5%;
}
.time-sider-station {
  width: 1.796875rem;
  font-size: 12px;
  color: #959595;
  word-break: break-all;
  padding-left: 0.46875rem;
  background: url(../img/round22.png) left center no-repeat;
  background-size: 0.234375rem 0.234375rem;
}
[data-dpr="2"] .time-sider-station {
  font-size: 24px;
}
[data-dpr="3"] .time-sider-station {
  font-size: 36px;
}
.arrive-time-sider {
  width: 50%;
  box-sizing: border-box;
  float: left;
  padding: 0.265625rem 0;
  -webkit-box-pack: start;
}
.route-wrapper {
  background-color: #fff;
  padding: 0.359375rem 0;
}
.introduction-title {
  font-size: 13px;
  color: #000;
  margin-bottom: 0.359375rem;
  padding: 0 4%;
}
[data-dpr="2"] .introduction-title {
  font-size: 26px;
}
[data-dpr="3"] .introduction-title {
  font-size: 39px;
}
.introduction-content {
  font-size: 11px;
  color: #959595;
  margin-bottom: 0.15625rem;
  padding: 0 4%;
}
[data-dpr="2"] .introduction-content {
  font-size: 22px;
}
[data-dpr="3"] .introduction-content {
  font-size: 33px;
}
.route-distribute-wrapper {
  margin-top: 0.3125rem;
  overflow-x: auto;
  overflow-y: hidden;
}
.route-distribute {
  width: 15.609375rem;
  display: block;
}
.route-distribute li {
  width: 1rem;
  display: block;
  float: left;
  vertical-align: top;
  padding-top: 0.390625rem;
  box-sizing: border-box;
  text-align: center;
  white-space: pre-wrap;
  background: url(../img/linestyle.png) center top no-repeat, url(../img/linestylebg.png) center 0.078125rem no-repeat;
  background-size: 0.1875rem 0.1875rem, 100% 2px;
  position: relative;
}
.route-distribute .linestyle2 {
  background: url(../img/linestyle2.png) center top no-repeat, url(../img/linestylebg.png) center 0.078125rem no-repeat;
  background-size: 0.1875rem 0.1875rem, 100% 2px;
}
.route-distribute .linestyle2 .route-location {
  color: #7bc70d;
}
.route-location {
  margin: 0 auto;
  font-size: 11px;
  color: #313131;
  text-align: center;
}
[data-dpr="2"] .route-location {
  font-size: 22px;
}
[data-dpr="3"] .route-location {
  font-size: 33px;
}
.dec-line-box{
	margin-top: 0.234375rem;
	width: 100%;
	position: relative;
}
.scenicspot {
  margin-top: 0.78125rem;
  padding: 0.375rem 4% 0.46875rem 4%;
  position: relative;
  height: 5.46875rem;
  overflow: hidden;
}
.scenic-spot-pic1-box,
.scenic-spot-pic2-box{
  width: 92%;
  height:100%;
  display: block;
  position: absolute;
  bottom: 0.46875rem;
  left: 4%;
  z-index: 10;
}
.scenic-spot-pic2-box{
  position: absolute;
  bottom: 0;
  left: 104%;
  z-index: 10;
}
.scenic-spot-pic1-box img,
.scenic-spot-pic2-box img{
	width: 100%;
	height: 100%;
	display: block;
}
.swiper-container{
	width: 100%;
	height: 100%;
}
.shadeBox {
  width: 92%;
  height: 1rem;
  line-height: 1rem;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0.46875rem;
  left: 4%;
  text-align: center;
  color: #fff;
  font-size: 15px;
  z-index: 20;
}
[data-dpr="2"] .shadeBox {
  font-size: 30px;
}
[data-dpr="3"] .shadeBox {
  font-size: 45px;
}
.scenery-tourbus .scenery-left {
  float: right;
}
.scenery-tourbus .scenery-right {
  float: left;
}
/*==========旅游巴士 结束==========*/
/*==========购票页面 开始==========*/
.buyticbg {
  background-color: #efefef;
  padding-bottom: 1.5625rem;
}
.ticket-select {
  background-color: #fff;
  padding: 0.625rem 4%;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 0.3125rem;
  -webkit-box-pack: justify;
}
.ticket-select-items {
  width: 50%;
  height: auto;
  box-sizing: border-box;
}
.select-sta {
  padding-left: 1.03125rem;
  height: 1.03125rem;
  line-height: 1.03125rem;
  box-sizing: border-box;
  border-bottom: 1px solid #eeeeee;
  background: url(../img/bus.png) left center no-repeat;
  background-size: 0.703125rem 0.640625rem;
  -webkit-box-pack: start;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
}
[data-dpr="2"] .select-sta {
  font-size: 30px;
}
[data-dpr="3"] .select-sta {
  font-size: 45px;
}
.goback {
  width: 0.421875rem;
  height: 0.28125rem;
  display: block;
  margin: 0 0.25rem;
}
.select-sta-del {
  font-size: 13px;
  padding: 0.25rem 0;
  -webkit-box-pack: start;
}
[data-dpr="2"] .select-sta-del {
  font-size: 26px;
}
[data-dpr="3"] .select-sta-del {
  font-size: 39px;
}
.del-sta,
.del-end {
  width: 1.71875rem;
  word-break: break-all;
  text-align: center;
}
.day-btn {
  font-size: 15px;
  width: 2.03125rem;
  height: 1.5625rem;
  line-height: 1.5625rem;
  text-align: center;
  color: #a0a0a0;
  background-color: #e5e5e5;
  border-radius: 0.234375rem;
}
.day-btn:nth-child(1) {
  margin-right: 0.78125rem;
}
.day-checked {
  color: #fff;
  background-color: #f46610;
}
[data-dpr="2"] .day-btn {
  font-size: 30px;
}
[data-dpr="3"] .day-btn {
  font-size: 45px;
}
.buyTickets-getDate {
  background-color: #fff;
}
.getDateTop {
  padding: 0.34375rem 0.3125rem;
  -webkit-box-pack: justify;
}
.beforeDate,
.afterDate {
  width: 0.375rem;
  height: 0.4375rem;
  display: block;
}
.nowDate {
  font-size: 16px;
  color: #7bc70d;
}
[data-dpr="2"] .nowDate {
  font-size: 32px;
}
[data-dpr="3"] .nowDate {
  font-size: 48px;
}
.buyTickets-weeks-wrapper,
.buyTickets-day-list {
  padding: 0 2%;
  box-sizing: border-box;
}
.buyTickets-weeks {
  background-color: #7bc70d;
}
.buyTickets-weeks > li {
  width: 14.2857143%;
  color: #fff;
  background-color: #7bc70d;
  box-sizing: border-box;
  padding-top: 0.15625rem;
  padding-bottom: 0.15625rem;
  text-align: center;
  font-size: 16px;
}
[data-dpr="2"] .buyTickets-weeks > li {
  font-size: 32px;
}
[data-dpr="3"] .buyTickets-weeks > li {
  font-size: 48px;
}
.buyTickets-day-list {
  margin-top: 0.3125rem;
}
.day-list-ul > li {
  width: 14.2857143%;
  display: block;
  float: left;
  box-sizing: border-box;
  padding-top: 0.28125rem;
  padding-bottom: 0.28125rem;
  text-align: center;
  font-size: 16px;
}
.now-date {
  color: #fff !important;
  background-color: #7bc70d;
}
.day-list-ul {
  overflow: hidden;
}
[data-dpr="2"] .day-list-ul > li {
  font-size: 32px;
}
[data-dpr="3"] .day-list-ul > li {
  font-size: 48px;
}
.date {
  color: #000000;
}
.dateBefore,
.dateafter,
.date-now-before {
  color: #d3d3d3;
}
.purchaseBox {
  background-color: #fff;
  margin-top: 0.46875rem;
  -webkit-box-pack: justify;
  padding: 0.40625rem 4%;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.purchase-wrapper {
  font-size: 14px;
  color: #000000;
}
[data-dpr="2"] .purchase-wrapper {
  font-size: 28px;
}
[data-dpr="3"] .purchase-wrapper {
  font-size: 42px;
}
.purchase-wr {
  -webkit-box-pack: start;
}
.purchase-fn {
  margin-right: 0.4375rem;
}
.purchase-size {
  margin-right: 0.3125rem;
}
.purchase-price {
  color: #f46610;
}
.amount-less,
.amount-more,
.amount-wra {
  width: 0.96875rem;
  height: 0.96875rem;
  line-height: 0.96875rem;
  text-align: center;
  font-size: 15px;
  border: 1px solid #d2d2d2;
}
.amount-less {
  border-radius: none;
}
.amount-more {
  border-left: none;
}
[data-dpr="2"] .amount-less {
  font-size: 30px;
}
[data-dpr="3"] .amount-less {
  font-size: 45px;
}
[data-dpr="2"] .amount-more {
  font-size: 30px;
}
[data-dpr="3"] .amount-more {
  font-size: 45px;
}
.amount-wra {
  width: 1.484375rem;
  height: 0.96875rem;
  line-height: 0.96875rem;
  text-align: center;
  font-size: 62px;
  border: 1px solid #7bc70d;
  background-color: #7bc70d;
  color: #fff;
  font-size: 15px;
}
[data-dpr="2"] .amount-wra {
  font-size: 30px;
}
[data-dpr="3"] .amount-wra {
  font-size: 45px;
}
.bottom-pay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  -webkit-box-pack: justify;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-left: 4%;
  box-sizing: border-box;
}
.left-count {
  font-size: 14px;
  color: #000000;
}
.count-total-prices {
  font-size: 14px;
  color: #f46610;
  margin-left: 0.34375rem;
}
[data-dpr="2"] .count-total-prices {
  font-size: 28px;
}
[data-dpr="3"] .count-total-prices {
  font-size: 42px;
}
[data-dpr="2"] .left-count {
  font-size: 28px;
}
[data-dpr="3"] .left-count {
  font-size: 42px;
}
.sider-right {
  font-size: 15px;
  color: #fff;
  width: 3.75rem;
  height: 1.5625rem;
  line-height: 1.5625rem;
  text-align: center;
  background-color: #7bc70d;
}
[data-dpr="2"] .sider-right {
  font-size: 30px;
}
[data-dpr="3"] .sider-right {
  font-size: 45px;
}
.left-wrapper-fl {
  width: 100%;
  -webkit-box-pack: start;
  box-sizing: border-box;
}
/*==========购票页面 结束==========*/
