@charset "utf-8";
/* CSS Document */

*{
  font-family:Arial;
  outline:0;
  padding:0;
  margin:0;
  border:0;
  -webkit-tap-highlight-color: transparent;
}
html { 
  width: 100%;
  height: 100%;
  }
body { 
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  height: 100%;
}
button { cursor:pointer;}
form { display:inline;}
/* remember to define focus styles! */   
:focus { outline:0;}
ol, ul { list-style:none;}
/* tables still need cellspacing="0" in the markup */   
table {
  border-collapse:separate;
  border-spacing:0;
}
caption, th, td {
  font-weight:normal;
  text-align:left;
}
a img { border:0;}
/* remove possible quote marks (") from <q> & <blockquote> */   
blockquote:before, blockquote:after, q:before, q:after { content: "";}
blockquote, q { quotes: "" "";}
/* fenix' basic classes */
/* 基本框 */
a {
  color:#727171;
  text-decoration:none;
  cursor:pointer;
}
a:hover {
  color:#727171;
  text-decoration:none;
}
h1,h2,h3,h4,h5,h6,i,b{ 
	font-weight: normal;
	font-style: normal;
}

input[type="submit"], button,input[type="text"],input[type="number"]{
	-webkit-appearance: none;
}
/********common css************/
.c{ 
	clear:both;
	height: 0; 
	line-height: 0; 
	font-size: 0
}
.flexbox{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
}
.flexright{
	-webkit-box-flex: 1;
}
.widthbox{
	width: 100%;
	box-sizing: border-box;
}
.fl{
	float: left;
}
.fr{
	float: right;
}

/********加载 css************/
.loading{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background: #fff;
}
.loading img{
	width: 2rem;
	display: block;
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	margin: auto;
}












/********加载 css************/